<div
*ngIf="!champ.checkTeamEmpty() && champ.rank_up_main == null"
(click)="champ.onBattle()"
class="btn btn-primary">BATTLE</div>

<h3>Battle</h3>

<div class="areas">
    <div
    *ngFor="let area of levels"
    class="area">
        <div
        *ngFor="let stage of area"
        [class.disabled]="isDisabed(stage)"
        class="stage btn btn-primary">{{stage.name}}</div>
    </div>
</div>
<!-- <div class="levels">
  <div *ngFor="let level of levels" class="level">
    <div
    (click)="onClickLevel(level)"
    class="btn btn-primary">
      {{level.name}}
    </div>
  </div>
</div> -->
