<div class="team">
    <h5>Team</h5>
    <div class="champions">
        <ng-container
        *ngFor="let champion of champ.team; let i = index">
            <div
            [class.champ_selected]="champion.champion"
            class="champ_slot">
            <ng-container
            *ngIf="champion.champion">
            <p>{{champion.champion.name}} ({{champion.champion.rank}}/6)</p>
            <div
            (click)="removeChampion(i)"
            class="btn btn-sm btn-danger">Remove</div>
        </ng-container>

        <p *ngIf="champion.champion == null">Select Champion</p>
    </div>
        </ng-container>
    </div>
</div>
